.apresentacao {
  text-align: center;
  margin: auto auto 40px auto;
  max-width: 800px;
  background: #cacaff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding-bottom: 24px;
  padding-top: 16px;
}
.apresentacao h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  color: #3636bb;
}
.apresentacao p {
  color: #2d3748;
  margin-bottom: 8px;
  margin-top: 24px;
  margin: 20px 10%;;
  text-align: justify;
}
.apresentacao-links {
  padding-top: 10px;
  display: flex;
  gap: 16px;
  justify-content: center;
}
.apresentacao-links a {
  font-size: 1.25rem;
  color: #3636bb;
  text-decoration: none;
  padding: 2px 8px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}
.apresentacao-links a:hover {
  background: #f6f3ff;
  color: #2563eb;
}

.foto-apresentacao {
  width: 200px; /* ajuste conforme necessário */
  border-radius: 50%;
}
