.contato {
  margin: auto;
  max-width: 800px;
  background: linear-gradient(0deg, #eeeeff 20%, #f3f3ff 100%);
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(149, 18, 201, 0.2);
  padding-bottom: 24px;
  padding-top: 16px;
}

.contato p {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  margin-top: 0px;
  color: #4a4aee;
}
.contato-info {
  display: flex;
  flex-direction: column;
}

.contato-info p {
  margin: 8px 0;
}

.contato-info a {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.contato-info a:hover {
  color: #4a4aee;
}
