.contato {
  margin: auto;
  max-width: 800px;
  background: #f3f3ff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding-bottom: 24px;
  padding-top: 16px;
}
.contato h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  margin-top: 0px;
  color: #4a4aee;
}
.contato-info {
  display: flex;
  flex-direction: column;
}

.contato-info p {
  margin: 8px 0;
}

.contato-info a {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.contato-info a:hover {
  color: #4a4aee;
}
