.experiencia {
  margin: 40px auto;
  max-width: 800px;
  padding: 32px;
  background: #f1f5f9;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.experiencia h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  margin-top: 0px;
  color: #ea580c;
}
.experiencia-lista {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.experiencia-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.07);
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 85%;
  align-self: center;
}
.experiencia-item h3 {
  margin: 0 0 8px 0;
  color: #2563eb;
}
.cargo {
  font-weight: bold;
  color: #334155;
  margin-bottom: 4px;
}
.periodo {
  font-size: 0.95rem;
  color: #64748b;
  margin-bottom: 12px;
}
.experiencia-item ul {
  margin: 0;
  color: #334155;
  width: 85%;
  align-self: center;
}

.experiencia-item ul li {
  text-align: justify;
  padding: 0 3%;
}
