.experiencia {
  margin: 40px auto;
  max-width: 800px;
  background: linear-gradient(0deg, #eeeeff 20%, #f3f3ff 100%);
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(149, 18, 201, 0.2);
  padding-bottom: 24px;
  padding-top: 16px;
}
.experiencia h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  margin-top: 0px;
  color: #4a4aee;
}
.experiencia-item h3 {
  margin: 0 0 8px 0;
  color: #2563eb;
  font-size: 1.5rem;
}
h4 {
  margin: 24px 20px;
}
.experiencia-lista {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.experiencia-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 3px 2px rgba(25, 14, 124, 0.4);
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
}
.cargo {
  font-weight: bold;
  color: #334155;
  margin-bottom: 4px;
  font-size: 1.15rem;
}
.periodo {
  font-size: 1rem;
  color: #64748b;
  margin-bottom: 12px;
}
.experiencia-item ul {
  margin: 0;
  color: #334155;
  width: 90%;
  align-self: center;
}

.experiencia-item ul li {
  text-align: justify;
  padding: 0 2%;
}
