.formacao {
  margin: 40px auto;
  max-width: 800px;
  background: linear-gradient(0deg, #eeeeff 20%, #f3f3ff 100%);
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(149, 18, 201, 0.2);
  padding-bottom: 24px;
  padding-top: 16px;
}
.formacao h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  margin-top: 0px;
  color: #4a4aee;
}
.formacao-lista {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.formacao-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 3px 2px rgba(25, 14, 124, 0.4);
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
}
.formacao-item h3 {
  margin: 0 0 8px 0;
  color: #2563eb;
  font-size: 1.5rem;
}
.formacao-item a {
  color: #0ea5e9;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s;
  width: 80%;
  align-self: center;
}
.formacao-item a:hover {
  color: #4a4aee;
  text-decoration: none;
}
.instituicao {
  font-weight: bold;
  font-size: 1.15rem;
  color: #334155;
  margin-bottom: 4px;
}
.periodo {
  font-size: 1rem;
  color: #64748b;
  margin-bottom: 12px;
}
.formacao-item p {
  margin: 0;
  margin-bottom: 10px;
  color: #334155;
  width: 80%;
  align-self: center;
}
