.habilidades {
  margin: 40px auto;
  max-width: 800px;
  padding: 32px;
  background: #f1f5f9;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.habilidades h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  margin-top: 0px;
  color: #2563eb;
}
/* Lista principal */
.habilidades ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.outras-habilidades {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Itens principais */
.habilidades ul li {
  font-size: 1.4rem;
  color: #334155;
  margin-bottom: 8px;
  padding-left: 0;
  position: relative;
  font-weight: bold;
  max-width: 60%;
  min-width: 40%;
}

/* Sublistas */
.habilidades ul li ul {
  margin: 0 5% 12px 5%;
  border: 2px solid #e0e7ef;
  font-weight: bold;
  font-size: 1rem;
  color: #64748b;
  display: flex;
  flex-wrap: wrap;
}

.dev-tools {
  flex-direction: column;
}

.outras-habilidades-lista {
  flex-direction: column;
}

.habilidades ul li ul li {
  font-size: 1.15rem;
  color: #5e688b;
  margin-top: 6px;
  margin-bottom: 12px;
  position: relative;
  font-weight: bold;
}

.habilidades ul li ul li ul {
  line-height: 0.6;
  border: none;
  margin-top: 6px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 0.95rem;
  color: #94a3b8;
}

.habilidades ul li ul li ul li {
  max-width: none;
  min-width: none;
  color: #64748b;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 400;
  font-style: italic;
  white-space: nowrap;
  font-size: 1rem;
}
