.habilidades {
  margin: 40px auto;
  max-width: 800px;
  background: linear-gradient(0deg, #eeeeff 20%, #f3f3ff 100%);
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(149, 18, 201, 0.2);
  padding-bottom: 24px;
  padding-top: 16px;
}

.habilidades h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  margin-top: 0px;
  color: #4a4aee;
}
/* Lista principal */
.habilidades ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.outras-habilidades {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Itens principais */
.habilidades ul li {
  font-size: 1.4rem;
  color: #334155;
  margin-bottom: 8px;
  padding-left: 0;
  position: relative;
  font-weight: bold;
  max-width: 80%;
  min-width: 40%;
}

/* Sublistas */
.habilidades ul li ul {
  margin: 0 2% 12px 2%;
  border: 2px solid #b2b2f0;
  border-radius: 16px;
  font-weight: bold;
  font-size: 1rem;
  color: #64748b;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 3px 2px rgba(25, 14, 124, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dev-tools {
  flex-direction: column;
}

.outras-habilidades-lista {
  flex-direction: column;
}

.habilidades ul li ul li {
  font-size: 1.25rem;
  color: #4e5f7c;
  margin-top: 6px;
  margin-bottom: 12px;
  position: relative;
  font-weight: bold;
}

.habilidades ul li ul li ul {
  line-height: 0.6;
  border: none;
  margin-top: 6px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  line-height: normal;
  box-shadow: none;
}

.habilidades ul li ul li ul li {
  max-width: none;
  min-width: none;
  color: #5a6d8f;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: normal;
  font-style: italic;
  white-space: nowrap;
  font-size: 1.15rem;
  display: flex;
  justify-content:center;
}

.habilidades span {
  position: relative;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.icon {
  font-size: 1.2rem;
  color: #4a4aee;
}

.icon-header {
  font-size: 1.5rem;
  color: #4a4aee;
}

.dev-tools > li{
  display: flex;
  justify-content: center;
}

.outras-habilidades-lista > li{
  display: flex;
  justify-content: center;
}
