@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
    --grid-70-30: 70% 28%;
    --font-display: "Roboto", sans-serif;
}

@utility grid-cols-70-30 {
    grid-template-columns: var(--grid-70-30);
}