.sobremim {
  margin: 40px auto;
  padding-bottom: 24px;
  max-width: 800px;
  background: #f3f3ff;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(149, 18, 201, 0.2);
}
.sobremim h2 {
  font-size: 2rem;
  margin-bottom: 18px;
  padding-top: 16px;
  color: #4a4aee;
}
.sobremim p {
  color: #334155;
  margin-bottom: 12px;
  line-height: 1.4;
  padding: 0 10%;
  align-self: center;
  text-align: justify;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.sobremim a {
  color: #0ea5e9;
  text-decoration: underline;
  font-weight: 500;
  transition: color 0.2s;
}
.sobremim a:hover {
  color: #4a4aee;
  text-decoration: none;
}
